server {
    listen 9000;
    server_name 3.93.196.220;

    location / {
        proxy_pass http://3.93.196.220:{{ sonarqube_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}